<div class="main-container">
    <h3>Clasificación</h3>
    <div *ngIf="players.length === 0; else tablePlayers">No hay jugadores inscritos</div>
    <ng-template #tablePlayers>
        <div class="auto-refresh" (click)="autoRefreshToggle()">

            <svg class="w-6 h-6" [ngClass]="{'spin': autorefreshEnable}" fill="none" stroke="currentColor"
                viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15">
                </path>
            </svg>
            <span>Auto refrescar</span>


        </div>
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Host</th>
                    <th>Puntuación</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let player of players">
                    <td>{{player.name}}</td>
                    <td>{{player.host}}</td>
                    <td>{{player.score}}</td>
                </tr>
            </tbody>
        </table>
    </ng-template>
</div>