.main-container {
  display: flex;
  align-items: center;
  flex-direction: column;

  .buttons-container {
    display: flex;
    gap: 20px;

    button {
      background-color: var(--main-color);
      border: solid 1px var(--main-color);
      color: white;
      font-weight: bold;
      text-transform: uppercase;
      border-radius: 5px;
      height: 44px;
      padding: 14px;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
